body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    width: 1000px;
    margin: auto ;
}
.text-center{
    text-align: center;
}
.upper{
    text-transform: uppercase;
}
.main-color{
    color: #f7600e;
}
.main-bg{
    background-color: #f7600e;
}
.table{
    height: 100%;
    display: table;
}
.table-row{
    display: table-row;
}
/* start header */
.header{
    background-color: tomato;
    background-image: url('/images/slide-1.jpg');
    color: #fff;
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(49,55,61,.8);
}
.header .navbar{
    overflow: hidden;
    padding:20px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.header .links{
    float: right;
    font-size: 22px;
    padding-right:150px ;
}
.header .logo{
    font-size: 25px;
    font-weight: bold;
    padding-left: 150px;
}
.header .intro h1{
    font-size: 65px;
    font-weight: bold;
}
.header .intro p{
    font-size: 20px;
    line-height: 1.6;
}
.header .buttons button{
    color: #fff;
     border: 1px solid #fff;
     background-color: transparent;
     margin: 8px;
     border-radius: 7px;
     cursor: pointer;
     font-size: 18px;
    transition: all .6s ease-in-out;
    width: 200px;
    padding: 15px 0;
}
.header .buttons button:hover{
    background-color: #f7600e;
    border: #f7600e;
    transition: all .6s ease-in-out;
}
.header .arrow{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
}
.header .arrow span{
    padding: 15px 20px;
    border: 2px solid #fff;
    border-radius: 100%;
    transition: all .4s ease-in-out;
    cursor:pointer;
}
.header .arrow span:hover{
    border: 2px solid #2ecd71;
    transition: all .4s ease-in-out;
}
/* end header */

/* start features */
.features{
    padding:40px 0;
    overflow: hidden;
}
.features .f{
    width: 20%;
    float: left;
    margin: 2.5%;
}
.features .f i{
    font-size: 30px;
    border: 2px solid #000;
    border-radius: 100%;
    padding: 15px 20px;
    transition: all .4s ease-in-out;

}
.features .f i:hover{
    color: #fff;
    background-color: #f7600e;
    border: 2px solid #f7600e;
    transition: all .4s ease-in-out;
}
.features .f h3{
    color: rgb(65, 64, 64);
}
.features .f p{
    color: rgb(128, 127, 127);
    line-height: 1.6;
}
/* end features */

/* start subscribe */
.sub{
    background-image: url('/images/slide-1.jpg');
    background-size: cover;
    padding: 50px 0;
}
.s{
    padding:80px 0;
    margin: auto;
    text-align: center;
}
.s form input[type='email']{
    width: 40%;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 8px;
    margin: 10px;
    font-size: 16px;
}
.s form button{
    width: 20%;
    color: #fff;
    background-color: #f7600e;
    font-size: 18px;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 8px;
    margin: 10px;
}
/* end subscribe */

/* start our-work */
.our-work h2{
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: bold;
}
.our-work .container h2 ~ p{
    font-size: 20px;
    line-height: 1.6;
    color: rgb(70, 69, 69);
    margin-bottom: 40px;
}
.our-work .item-box{
    overflow: hidden;
}
.our-work .item-box .item{
    float: left;
    width: 30%;
    overflow: hidden;
    margin:14px ;
    position: relative;
}
.our-work .item-box .item .over{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f7600e;
    background-color: rgb(247, 96, 14,.7);
    color: #fff;
    padding-top: 20px;
    display: none;
    transition: all .5s ease-in-out;
}
.our-work .item .over h4{
    font-size: 25px;
    font-weight: bold;
}
.our-work .item .over p{
    font-size: 18px;
    line-height: 1.6;
}
.our-work .item .over button{
    padding: 10px 20px;
    margin-top: 20px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 8px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}
.our-work .item .over button:hover{
    background-color: #fff;
    color: #f7600e;
    transition: all .4s ease-in-out;
}
.our-work .item:hover .over{
    display: block;
    transition: all .5s ease-in-out;
}
.hidden{
    display: none;
}
.show-more{
    margin-top: 20px;
    color: #f7600e;
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid #f7600e;
    border-radius: 7px;
    transition: all .4s ease-in-out;

}
.show-more:hover{
    color: #fff;
    background-color: #f7600e;
    transition: all .4s ease-in-out;
}
/* end our-work */